<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Core/etc/config.xsd">
    <default>
        <gemtoo_blog>
            <article>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Articles</meta_title>
                <meta_description>Articles Description Here</meta_description>
                <meta_keywords>Articles Keywords Here</meta_keywords>
                <list_url>articles.html</list_url>
                <url_prefix>article</url_prefix>
                <url_suffix>html</url_suffix>
                <rss>1</rss>
                <rss_cache>600</rss_cache>
            </article>
        </gemtoo_blog>
    </default>
</config>
